USE [master]
GO
/****** Object:  Database [CRM_Sales]    Script Date: 2024-08-13 11:12:28 ******/
CREATE DATABASE [CRM_Sales]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CRM_Sales', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CRM_Sales.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CRM_Sales_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CRM_Sales_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRM_Sales].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRM_Sales]
GO
/****** Object:  Table [dbo].[accounts]    Script Date: 2024-08-13 11:12:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accounts](
	[account] [nvarchar](50) NOT NULL,
	[sector] [nvarchar](50) NULL,
	[year_established] [smallint] NULL,
	[revenue] [float] NULL,
	[employees] [int] NULL,
	[office_location] [nvarchar](50) NULL,
	[subsidiary_of] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 2024-08-13 11:12:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product] [nvarchar](50) NOT NULL,
	[series] [nvarchar](50) NOT NULL,
	[sales_price] [smallint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sales_pipeline]    Script Date: 2024-08-13 11:12:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales_pipeline](
	[opportunity_id] [nvarchar](50) NOT NULL,
	[sales_agent] [nvarchar](50) NOT NULL,
	[product] [nvarchar](50) NULL,
	[account] [nvarchar](50) NULL,
	[deal_stage] [nvarchar](50) NULL,
	[engage_date] [date] NULL,
	[close_date] [date] NULL,
	[close_value] [smallint] NULL,
 CONSTRAINT [PK_sales_pipeline] PRIMARY KEY CLUSTERED 
(
	[opportunity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sales_teams]    Script Date: 2024-08-13 11:12:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales_teams](
	[sales_agent] [nvarchar](50) NOT NULL,
	[manager] [nvarchar](50) NOT NULL,
	[regional_office] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
